#countdown {
  font-size: 2rem;
  font-family: "Unica One", sans-serif;
  color: #8873a4;
}
body {
    background-color:#f7c9e3;
}
h1 {
    font-size: 4rem;
    font-family: "Unica One", sans-serif;
    color:#8873a4;
}
.container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* font library */
.unica-one-regular {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}